.version.contacto /* version checker */
{
	color: #000015;
	background-color: #CD55AA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 655px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u212
{
	z-index: 2;
	padding-bottom: 6px;
}

#u235
{
	z-index: 3;
	width: 101px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u212-bw
{
	z-index: 2;
	height: 121px;
}

#widgetu101
{
	z-index: 25;
	width: 0.01px;
	height: 266px;
	margin-left: 57px;
	margin-top: 68px;
	position: relative;
}

#widgetu114
{
	z-index: 26;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu114.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u116-4
{
	z-index: 27;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u117-4
{
	z-index: 31;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

.html,#widgetu114.non-empty-st #u117-4
{
	background-color: #FFFFFF;
}

#widgetu114:hover #u117-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu114.focus-st #u117-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu114.non-empty-st #u117-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu114:hover #u117-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu114.focus-st #u117-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu102
{
	z-index: 35;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu102.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u105-4
{
	z-index: 36;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu102.fld-err-st #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u103-4
{
	z-index: 40;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu102.non-empty-st #u103-4
{
	background-color: #FFFFFF;
}

#widgetu102:hover #u103-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu102.focus-st #u103-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu114.fld-err-st #u117-4,#widgetu102.fld-err-st #u103-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu102.non-empty-st #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu102:hover #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu102.focus-st #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu114_input,#widgetu114_prompt,#widgetu102_input,#widgetu102_prompt
{
	width: 328px;
	min-height: 14px;
	color: #5C5C5F;
	font-family: open-sans-condensed, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#u106-4
{
	z-index: 44;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #5C5C5F;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu101.frm-sub-st #u106-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u112-4
{
	z-index: 48;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #5C5C5F;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu101.frm-subm-err-st #u112-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u107-4
{
	z-index: 52;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #5C5C5F;
	font-size: 12px;
	line-height: 12px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu101.frm-sub-st #u106-4,#widgetu101.frm-subm-err-st #u112-4,#widgetu101.frm-subm-ok-st #u107-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu101.frm-subm-ok-st #u107-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u113-17
{
	z-index: 56;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u113-17.png") no-repeat 0px 0px;
}

#u113-17:hover
{
	background: url("../images/u113-17-r.png") no-repeat 0px 0px;
}

#u113-17:active
{
	background: url("../images/u113-17-m.png") no-repeat 0px 0px;
}

#widgetu101.frm-sub-st #u113-17
{
	background: url("../images/u113-17-fs.png") no-repeat 0px 0px;
}

#widgetu108
{
	z-index: 73;
	width: 340px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu108.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u109-4
{
	z-index: 74;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu114.fld-err-st #u116-4,#widgetu108.fld-err-st #u109-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu114.fld-err-st #u116-4 p,#widgetu114.fld-err-st #u116-4 span,#widgetu102.fld-err-st #u105-4 p,#widgetu102.fld-err-st #u105-4 span,#widgetu108.fld-err-st #u109-4 p,#widgetu108.fld-err-st #u109-4 span
{
	color: #D7244C;
}

#u110-4
{
	z-index: 78;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #5C5C5F;
	line-height: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu108.non-empty-st #u110-4
{
	background-color: #FFFFFF;
}

#widgetu108:hover #u110-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu108.focus-st #u110-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu108.fld-err-st #u110-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu108.non-empty-st #u110-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu108:hover #u110-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu108.focus-st #u110-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu114.fld-err-st #u117-4 *,#widgetu102.fld-err-st #u103-4 *,#widgetu108.fld-err-st #u110-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu108_input,#widgetu108_prompt
{
	width: 328px;
	min-height: 68px;
	color: #5C5C5F;
	font-family: open-sans-condensed, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu114.focus-st #widgetu114_prompt,#widgetu102.focus-st #widgetu102_prompt,#widgetu108.focus-st #widgetu108_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu114:hover #widgetu114_input,#widgetu114.focus-st #widgetu114_input,#widgetu114.fld-err-st #widgetu114_input,#widgetu114:hover #widgetu114_prompt,#widgetu114.fld-err-st #widgetu114_prompt,#widgetu102:hover #widgetu102_input,#widgetu102.focus-st #widgetu102_input,#widgetu102.fld-err-st #widgetu102_input,#widgetu102:hover #widgetu102_prompt,#widgetu102.fld-err-st #widgetu102_prompt,#widgetu108:hover #widgetu108_input,#widgetu108.focus-st #widgetu108_input,#widgetu108.fld-err-st #widgetu108_input,#widgetu108:hover #widgetu108_prompt,#widgetu108.fld-err-st #widgetu108_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu114.non-empty-st #widgetu114_prompt,#widgetu102.non-empty-st #widgetu102_prompt,#widgetu108.non-empty-st #widgetu108_prompt
{
	visibility: hidden;
}

#u244
{
	z-index: 83;
	width: 291px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 570px;
	top: -235px;
	margin-bottom: -39px;
	position: relative;
}

#u246
{
	z-index: 84;
	width: 281px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 570px;
	top: -172px;
	margin-bottom: -46px;
	position: relative;
}

#u248
{
	z-index: 85;
	width: 253px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 570px;
	top: -102px;
	margin-bottom: -24px;
	position: relative;
}

#u242
{
	z-index: 82;
	width: 193px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 570px;
	top: -54px;
	margin-bottom: -28px;
	position: relative;
}

#u237
{
	z-index: 5;
	padding-bottom: 33px;
}

#u212_align_to_page,#u237_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu213
{
	z-index: 6;
	width: 295px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 432px;
}

#u228
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
}

#u231
{
	width: 97px;
	padding-bottom: 17px;
}

#u234-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u214
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 99px;
}

#u215
{
	width: 97px;
	padding-bottom: 17px;
}

#u218-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u221
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 198px;
}

#u222
{
	width: 97px;
	padding-bottom: 17px;
}

#u231.MuseMenuActive,#u215.MuseMenuActive,#u222.MuseMenuActive
{
	margin: 0px;
}

#u224-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u231.MuseMenuActive #u234-4,#u215.MuseMenuActive #u218-4,#u222.MuseMenuActive #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u237-bw
{
	z-index: 5;
	margin-top: 94px;
	height: 67px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

