.version.index /* version checker */
{
	color: #000016;
	background-color: #FDE465;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 581px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u73
{
	z-index: 2;
	padding-bottom: 30px;
}

#u84
{
	z-index: 3;
	width: 426px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 367px;
}

#u73-bw
{
	z-index: 2;
	height: 470px;
}

#u91-4
{
	z-index: 25;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	color: #F09700;
	font-size: 30px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u91-4-bw
{
	z-index: 25;
	min-height: 41px;
	margin-top: 10px;
	height: 41px;
}

#u90
{
	z-index: 5;
	padding-bottom: 39px;
}

#u73_align_to_page,#u90_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu172
{
	z-index: 6;
	width: 298px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 431px;
}

#u180
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u181
{
	width: 98px;
	padding-bottom: 17px;
}

#u182-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u173
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u176
{
	width: 98px;
	padding-bottom: 17px;
}

#u178-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u195
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	left: 200px;
}

#u196
{
	width: 98px;
	padding-bottom: 17px;
}

#u181.MuseMenuActive,#u176.MuseMenuActive,#u196.MuseMenuActive
{
	margin: 0px;
}

#u199-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u181.MuseMenuActive #u182-4,#u176.MuseMenuActive #u178-4,#u196.MuseMenuActive #u199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u90-bw
{
	z-index: 5;
	margin-top: 8px;
	height: 61px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

