.version.index /* version checker */
{
	color: #00001B;
	background-color: #89493A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 581px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u73
{
	z-index: 2;
	padding-bottom: 16px;
}

#u84
{
	z-index: 3;
	width: 256px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 452px;
}

#u73-bw
{
	z-index: 2;
	height: 276px;
}

#u91-4
{
	z-index: 19;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	color: #F09700;
	font-size: 30px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u91-4-bw
{
	z-index: 19;
	min-height: 41px;
	margin-top: 73px;
	height: 41px;
}

#u90
{
	z-index: 5;
	padding-bottom: 38px;
}

#u73_align_to_page,#u90_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu172
{
	z-index: 6;
	width: 150px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 505px;
}

#u180
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
}

#u181
{
	width: 74px;
	padding-bottom: 17px;
}

#u182-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u173
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 76px;
}

#u176
{
	width: 74px;
	padding-bottom: 17px;
}

#u181.MuseMenuActive,#u176.MuseMenuActive
{
	margin: 0px;
}

#u178-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u181.MuseMenuActive #u182-4,#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u90-bw
{
	z-index: 5;
	margin-top: 75px;
	height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

